/* nav {
  padding: 1.5rem 8rem 1.5rem 8rem;
  margin-bottom: 1rem;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
} */

/* aside {
  background: var(--gray-800);
  position: fixed;
  top: 0;
  left: 0;
  width: 10vw;
  height: 100vh;
  border-right: 1.2px solid rgb(255, 255, 255, 0.2);
} */
